/* body {
  background: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Helvetica Neue", sans-serif;
  padding: 20px;
  gap: 20px;
}

.search-box {
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  outline: none;
  background: #111;
  color: #888;
  font-size: 16px;
  width: 250px;
}


.card {
  position: relative;
  width: 200px;
  height: 300px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.4);
}

.bg-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.blurred-layer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: inherit;
  background-size: cover;
  background-position: bottom;
  filter: blur(10px);
  z-index: 1;

  mask-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
  -webkit-mask-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
}

.content {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
  z-index: 2;
}

.content h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 6px;
}

.content p {
  font-size: 13px;
  color: #ddd;
  line-height: 1.4;
}

.card:hover {
  transform: scale(1.05);
  transition: transform 0.4s ease;
}
#card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
} */

body {
  background: #000;
  font-family: "Helvetica Neue", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

/* .search-box {
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  outline: none;
  background: #111;
  color: #888;
  font-size: 16px;
  width: 250px;
} */

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}


.card {
  position: relative;
  width: 200px;
  height: 300px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 20px 60px rgba(0,0,0,0.4);
  cursor: pointer;
  transition: transform 0.4s ease;
}

.card:hover {
  transform: scale(1.05);
}

.bg-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.blurred-layer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  filter: blur(10px);
  z-index: 1;
  background-size: cover;
  background-position: bottom;
  mask-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
  -webkit-mask-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
}

.content {
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 2;
  color: white;
}

.content h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 6px;
}

.content p {
  font-size: 13px;
  color: #ddd;
  line-height: 1.4;
}
